name: Test

permissions:
  contents: write

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  rust-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-latest, macos-14, macos-13]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 23
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: build
        run: |
          pnpm install
          pnpm run build
          pnpm run bundle
      - name: setup deno
        uses: ./
        with:
          url: https://github.com/denoland/deno
      - name: setup ei
        uses: ./
        with:
          url: https://github.com/ahaoboy/easy-install
      - name: setup qjs-ng
        uses: ./
        with:
          url: https://github.com/ahaoboy/quickjs-ng-build
      - name: setup mujs
        uses: ./
        with:
          url: https://github.com/ahaoboy/mujs-build
      - name: url list
        uses: ./
        with:
          url: |-
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/node.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/bun.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/boa.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/llrt.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/hermes.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/xst.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/fnm.json
            https://github.com/denoland/deno
            https://github.com/ahaoboy/txiki.js-build
            https://github.com/ahaoboy/spidermonkey-build
            https://github.com/ahaoboy/v8-build
            https://github.com/ahaoboy/jsc-build
            https://github.com/ahaoboy/jerryscript-build
            https://github.com/ahaoboy/mujs-build
            https://github.com/axodotdev/cargo-dist

      - name: test
        run: |
          deno --version
          ei --version
          qjs -e "console.log(1)"

          echo "console.log(1+1)" >> ./test.js
          qjs ./test.js
          mujs ./test.js

          ls -lh ~/.easy-install

          which llrt
          which fnm
          fnm --version
          llrt --version
          bun --version

      - name: install js engine
        uses: ./
        with:
          url: |-
            https://github.com/ahaoboy/easy-install
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/node.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/bun.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/boa.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/llrt.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/hermes.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/xst.json
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/quickjs-ng.json
            https://github.com/denoland/deno
            https://github.com/ahaoboy/txiki.js-build
            https://github.com/ahaoboy/spidermonkey-build
            https://github.com/ahaoboy/v8-build
            https://github.com/ahaoboy/jsc-build
            https://github.com/ahaoboy/jerryscript-build
            https://github.com/ahaoboy/mujs-build
            https://github.com/ahaoboy/quickjs-build
            https://github.com/ahaoboy/easy-install/raw/refs/heads/main/dist-manifest/graaljs.json
